<div id='search'>
	<div class='search__vis'></div>
</div>

<div id='made'>
	<div class='made__vis'>
		<div class='made__chart' id='made__pin'></div>
	</div>
	<div class='made__prose'>
		{{> story/intro }}
		{{#each copy.made}}
			<div class='trigger {{className}}' data-band='{{band}}' data-id='{{id}}'>
				{{#if band}}
				<div class='band__img'><img src='assets/lake-street-dive.png'></div>
				<ul class='band__list'>
					<li class='list__name'>{{name}} <span class='btn__audio' data-src='{{audio}}'>@@include('misc/audio-on.svg')</span></li>
					<li class='list__date'>date: {{date}}</li>
					<li class='list__venue'>venue: {{venue}}</li>
				</ul>
				{{else if video}}
				<iframe width="100%" height="200px" src="https://www.youtube.com/embed/zjabXPzwvWE?t=48s&amp;controls=0&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				{{else}}
				<p>{{text}}</p>
				{{/if}}
			</div>
		{{/each}}
	</div>
</div>

<audio class='audio-player'></audio>

<div id='ascent'>
	<div class='ascent__vis'></div>
</div>

{{!-- TODO temp --}}
<div style='height: 1000px;'></div>
