<div id='made'>
	<div class='made__vis'>
		<div class='made__chart' id='made__pin'></div>
	</div>
	<div class='made__prose'>
		{{> story/intro }}
		{{#each copy.made}}
			<div class='trigger {{className}}' data-band='{{band}}' data-id='{{id}}'>
				{{#if band}}
				<div class='band__img'><img src='assets/lake-street-dive.png'></div>
				<ul class='band__list'>
					<li class='list__name'>{{name}} <span class='btn__audio' data-src='{{audio}}'>@@include('misc/audio-on.svg')</span></li>
					<li class='list__date'>date: {{date}}</li>
					<li class='list__venue'>venue: {{venue}}</li>
				</ul>
				{{else if video}}
				 <iframe class='youtube-embed' width='100%' height='198px' src='https://www.youtube.com/embed/zjabXPzwvWE?enablejsapi=1&amp;enablejsapi=true&amp;playsinline=1&autoplay=0controls=0&rel=0&showinfo=0' frameborder='0'></iframe>
				{{!-- <iframe width="100%" height="200px" src="https://www.youtube.com/embed/zjabXPzwvWE?t=48s&amp;controls=0&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> --}}
				{{else}}
				<p>{{text}}</p>
				{{/if}}
			</div>
		{{/each}}
	</div>
</div>

<div class='section__header'>
	<h2 class='header__hed'>How long it takes to make it</h2>
</div>

<div class='bridge'>
	<p>Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot squash brussels sprout chard.</p>
	<p>
	Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean. Dandelion zucchini burdock yarrow chickpea dandelion sorrel courgette turnip greens tigernut soybean radish artichoke wattle seed endive groundnut broccoli arugula.
	</p>
</div>

</div>
</div>
<div id='ascent'>
	<div class='ascent__vis'></div>
</div>

<div class='section__header'>
	<h2 class='header__hed'>Everybody else</h2>
</div>

<div class='bridge'>
	<p>Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot squash brussels sprout chard.</p>
	<p>
	Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean. Dandelion zucchini burdock yarrow chickpea dandelion sorrel courgette turnip greens tigernut soybean radish artichoke wattle seed endive groundnut broccoli arugula.
	</p>
</div>

<div id='search'>
	<div class='search__vis'></div>
	<div class='search__popup'>
		<ul>
			<li class='popup__name'></li>
			<li class='popup__shows'></li>
			<li class='popup__biggest'></li>
			<li class='popup__vis'><svg></svg></li>
		</ul>

	</div>
	<div class='search__find'>
		<div class='find__container'>
			<input type='text' class='find__input'>
			<div class='find__results'></div>
		</div>
	</div>
</div>

<div class='bridge'>
	<p>Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot squash brussels sprout chard.</p>
	<p>
	Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean. Dandelion zucchini burdock yarrow chickpea dandelion sorrel courgette turnip greens tigernut soybean radish artichoke wattle seed endive groundnut broccoli arugula.
	</p>
</div>
