<div id='made'>
	<div class='made__vis'>
		<div class='made__chart' id='made__pin'>
			<div class='small small-0'></div>
			<div class='small small-1'></div>
			<div class='small small-2'></div>
			<div class='small small-3'></div>
			<div class='small small-4'></div>
			<div class='small small-5'></div>
			<div class='small small-6'></div>
			<div class='small small-7'></div>
			<div class='small small-8'></div>
			<div class='small small-9'></div>
		</div>
		<div class='made__annotation tk-whitney is-hidden'>
			<p>3,180 bands that played multiple shows from 2013-2016</p>
		</div>
	</div>
	<div class='made__prose'>
		{{> story/intro }}
		{{#each copy.made}}
			<div class='trigger {{className}}' data-band='{{band}}' data-id='{{id}}'>
				{{#if band}}
				<div class='band__img' style='background-image: url("https://i.scdn.co/image/{{img}}");'></div>
				<ul class='band__list tk-whitney'>
					<li class='list__name'>{{name}} <span class='btn__audio' data-src='{{audio}}'>@@include('misc/audio-on.svg')</span></li>
					<li class='list__date'>Date: {{date}}</li>
					<li class='list__venue'>Venue: {{venue}}</li>
				</ul>
				{{else if video}}			
				 <iframe class='youtube-embed' width='100%' height='198px' src='https://www.youtube.com/embed/qftu7ZQieuw?enablejsapi=1&amp;enablejsapi=true&amp;playsinline=1&autoplay=0&controls=0&rel=0&showinfo=0&start=45' frameborder='0'></iframe>
				{{else if list}}
				<p>{{{text}}}</p>
				<ul class='band__list-others tk-whitney'>
					{{#each other}}
					<li>{{name}}</li>
					{{/each}}
				</ul>
				{{else}}
				<p>{{{text}}}</p>
				{{/if}}
			</div>
		{{/each}}
	</div>
</div>